.PlaylistPage {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 1.5em;
  background-color: rgba(0, 0, 0, 0.545);
  box-shadow: 0 8px 10px gray;
  border-radius: 3em;
}
.playlis__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}